article{
	height: 100%;
}
.cajatiempo{
	width: 10%;
	height: 10%;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.pregunta1{
	width: 100%;
	height: 100%;
	
	 
}
#preguntas{
	background-color: white;
	height: 100%;
}
#formpregunta{
	height: 100%;
}


.p1{
	width: 80%;
	height: 20%;
	margin-left: 5%;

	
	
}
.opciones{
	height: 50%;
	width: 100%;
	padding-top: 1%;
	

}
.opcion{
	display: block;
	margin-left: 5%;
	margin-bottom: 1%;
}

.botonerapregunta{
	height: 10%;
	background-color: white;
}
.botonerapregunta button{
	width: 40%;
	height: 100%;

	display: block; 
	margin:auto;
	background-color:rgb(166,172,175);
}
.botonerapregunta button:hover{
	background-color: rgb(144,148,151);
}
.botonerapregunta button:active{
	background-color: rgb(98,101,103);
}
#bfinalizar{
	display: none;
}
.img{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	
}
#foto{
	display:block;
	
	max-width: 50%;
	margin: auto;
}
.cont1{
	height: 40%;
	
}.imagenes{
	height: 50%;
	
}
