html,body{
	height: 100%;
	width: 100%;
	margin:0;

}
body{
	background:url(wallpp.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	 background-attachment: fixed;
}
header{
	width: 100%;
	height: 15%;
	font-size:2.5em;
	color:rgb(251,238,230);
	text-align: center;
	background:url("salacine.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	height:15%;
	width: 100%;
}

p,h1,h2,h3{
	margin:0;
	text-align: center;

}
section{
	
	width: 60%;
	height: 85%;
	margin:auto;

}
/*inicio, comenzar, preguntas, respuestas*/

.NOvisible{
	display:none;
}
.visible{
	display:block;
	background-color: white;
	height: 100%;
	width: 100%;
	
}

/**c**/

#datos{
	width: 100%;
	height: 100%;
	
}
.dato2,.dato3{
	width: 100%;
	margin-top:10%;
	align-items: center;
}
.dato1{
	margin-top: 20%;
	text-align: center;
}

.dato2 input{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
.dato3{
	
	width: 100%;
	align-items: center;
	
}
.dato3 button{
	width: 20%;
	display: block; 
	margin-left: auto;
	margin-right: auto;
	background-color:rgb(166,172,175);
}
.dato3 button:hover{
	background-color: rgb(144,148,151);
}
.dato3 button:active{
	background-color: rgb(98,101,103);
}
.parte1{
	height: 100%;
}

